* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #0f1115;
  color: #e6edf3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.todo-container {
  background-color: #161b22;
  width: 100%;
  max-width: 450px;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid #30363d;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
  color: #4c8dff;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 1.5rem;
}

input {
  flex: 1;
  background: #0d1117;
  border: 1px solid #30363d;
  padding: 12px;
  border-radius: 6px;
  color: white;
  outline: none;
}

input:focus {
  border-color: #4c8dff;
}

button {
  background-color: #4c8dff;
  color: white;
  border: none;
  padding: 0 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #357ae8;
  transform: translateY(-2px);
  box-shadow: 4px 4px 10px rgba(0,0,0,0.25);
}

button:active {
   transform: translateY(0);
   box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}


ul {
  list-style: none;
  margin-bottom: 1rem;
}

li {
  background: #21262d;
  margin-bottom: 8px;
  padding: 12px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: transparent;
  color: #ff5c5c;
  font-size: 18px;
  padding: 0 6px;
}

.delete-btn:hover {
  background: transparent;
  color: #ff5c5c;
  transform: none;
  box-shadow: none;
}

.delete-btn:active {
  transform: none;
  box-shadow: none;
}

.filters {
  display: flex;
  gap: 15px;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: #8b949e;
}

.filters span {
  cursor: pointer;
}

.filters .active {
  color: #4c8dff;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #8b949e;
}

.clear {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  color: #8b949e;
}

li span {
  cursor: pointer;
}
